h1, p {
    color: #ffee00;
}
body {
    background-color: #007200;
}

@media screen and (max-width:979px) {
    body {
        background-color: #0f0fff;
    }
    h1, p {
        color: #fff;
    }
}

@media screen and (max-width:600px) {
    h1, p {
        color: #fff;
    }
    body {
        background-color: #000;
    }
}