h3, h5, p.name2, p.name3 {
    font-family: 'Itim', cursive;
    color: #aa65ff;
}

p.name {
    background-color: #1c1cff;
    color: #fff;
    font-size: 45px;
    padding: 25px;
}

p, p.name2, h1 {
    font-family: 'Itim', cursive;
}

@media screen and (max-width:699px) {
    p.name2, h3, h5, p.name3 {
        color: #1c1cff;
    }
    p, p.bb, h3, h5, p.name3 {
        font-family: 'Noto Sans Thai', sans-serif;
    }
    p.name {
        background-color: #007200;
        font-size: 14px;
    }
}

@media screen and (min-width:780px) and (max-width:999px) {
    p.name2, h3, h5, p.name3 {
        color: #e25700;
    }
    p.name {
        background-color: #d500e9;
        font-size: 14px;
    }
}